.title{
    color: red;
    font-size: 34px;
    text-align: center;
    text-transform: uppercase;
}
.regles{
    font-size: 22px;
}
.cadre{
    display: flex;
    justify-content: center;
}
.border {
    border: darkblue solid 4px;
    background-color: darkcyan;
    
    margin: auto 0;
width: 400px;
height: 100px;
padding: 45px;
}

.proposition {
    text-align: center;
    background-color: #010e6e;
    font-size: 22px;
    color: #f3f3fc;
    width: 220px;
    height: 40px;
    border-radius: 10px;
    margin-left: 25px;
}
.bouton {
    text-align: center;
    background-color: #010e6e;
    font-size: 22px;
    color: #f3f3fc;
    width: 120px;
    height: 40px;
    border-radius: 10px;
}
.result{
    font-size: 18px;
    color: white;
    text-align: center;
    margin-top: 25px;
}
p{
    font-size: 20px;
}